a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.gamigocontainer{
  background-color: #FFFFFF;
}

.gamigocontainer .borderbox{
  border: 1px solid #3c3c3c;
}

.citelabel{
	font-size: 11px;
	color:#3c3c3c;
	font-weight:normal;
}

.welcometext{
	font-size:30px;
}

.Profilebox{
	border:0px solid #2f2f2f;
}

.Profilebox label{
	font-weight: normal;
    height: 24px;
    width: 170px;
}

.Profilebox .detailstext{
	font-weight: normal;
    height: 24px;
    color: #9242f4;
}



.Profilebox span{
	font-weight: normal;
    height: 24px;
    width: 170px;
    color: #9242f4;
}





